#!/bin/bash

# Originally from https://github.com/paulirish/dotfiles/blob/master/.functions

# cd into whatever is the forefront Finder window.
cdf() {  # short for cdfinder
  cd "`osascript -e 'tell app "Finder" to POSIX path of (insertion location as alias)'`"
}
