[user]
        name = Jakub Benes
        email = jukben@gmail.com
        signingkey = ED2A20DE6FE070C9887562FBFC3A6B6E691B1851
[push]
        default = simple
[core]
        editor = /usr/bin/vim
        excludesfile = /Users/jukben/.gitignore
[github]
        user = jukben
[commit]
        gpgsign = true
[ghi]
        token = !security find-internet-password -a jukben -s github.com -l 'ghi token' -w
[merge]
        conflictstyle = diff3
[rerere]
	enabled = true
[pull]
	rebase = true
